
.vs/OpticalDesign/FileContentIndex/d3c415da-33fb-4ff7-a984-1cecf6aa6f3a.vsidx
.vs/OpticalDesign/FileContentIndex/read.lock
.vs/OpticalDesign/v17/Browse.VC.db
.vs/OpticalDesign/v17/Browse.VC.db-shm
.vs/OpticalDesign/v17/Browse.VC.db-wal
.vs/OpticalDesign/v17/Browse.VC.opendb
.vs/OpticalDesign/v17/ipch/AutoPCH/724fc3c943659cae/MAIN.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/e80c0ce0eaa9abba/BRAIN.ipch
.vs/OpticalDesign/v17/Solution.VC.db
.vs/OpticalDesign/v17/Solution.VC.db-shm
.vs/OpticalDesign/v17/Solution.VC.db-wal
.vs/OpticalDesign/FileContentIndex/045e8e87-a1f3-4d08-84c3-e39951435196.vsidx
.vs/OpticalDesign/v17/ipch/AutoPCH/249f814c89cfe553/CAMERA.ipch
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
