
.vs/OpticalDesign/FileContentIndex/d3c415da-33fb-4ff7-a984-1cecf6aa6f3a.vsidx
.vs/OpticalDesign/FileContentIndex/read.lock
.vs/OpticalDesign/v17/Browse.VC.db
.vs/OpticalDesign/v17/Browse.VC.db-shm
.vs/OpticalDesign/v17/Browse.VC.db-wal
.vs/OpticalDesign/v17/Browse.VC.opendb
.vs/OpticalDesign/v17/ipch/AutoPCH/724fc3c943659cae/MAIN.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/e80c0ce0eaa9abba/BRAIN.ipch
.vs/OpticalDesign/v17/Solution.VC.db
.vs/OpticalDesign/v17/Solution.VC.db-shm
.vs/OpticalDesign/v17/Solution.VC.db-wal
.vs/OpticalDesign/FileContentIndex/045e8e87-a1f3-4d08-84c3-e39951435196.vsidx
.vs/OpticalDesign/v17/ipch/AutoPCH/249f814c89cfe553/CAMERA.ipch
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/vc143.pdb
Temp/Compile/x64/Debug/vc143.idb
Temp/Compile/x64/Debug/V4L2.hpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/V4L2.hpp.ifc.dt.d.json
Temp/Compile/x64/Debug/V4L2.h_34C6F42A6517868.ifc.dt.module.json.command
Temp/Compile/x64/Debug/V4L2.h_34C6F42A6517868.ifc.dt.d.json
Temp/Compile/x64/Debug/V4L2.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/V4L2.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/V4L2.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/UnitTest.log
Temp/Compile/x64/Debug/UnitTest.Build.CppClean.log
Temp/Compile/x64/Debug/test.obj
Temp/Compile/x64/Debug/settings.obj
Temp/Compile/x64/Debug/OpticalDesign.tlog/unsuccessfulbuild
Temp/Compile/x64/Debug/OpticalDesign.tlog/OpticalDesign.lastbuildstate
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.write.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.write.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.log
Temp/Compile/x64/Debug/OpticalDesign.ilk
Temp/Compile/x64/Debug/OpticalDesign.Build.CppClean.log
Temp/Compile/x64/Debug/NSL.log
Temp/Compile/x64/Debug/NSL.Build.CppClean.log
Temp/Compile/x64/Debug/ngs_hello.obj
Temp/Compile/x64/Debug/main.obj
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/imgui_impl_opengl3.obj
Temp/Compile/x64/Debug/imgui_impl_glfw.obj
Temp/Compile/x64/Debug/GyroSDKTest.log
Temp/Compile/x64/Debug/GyroSDKTest.Build.CppClean.log
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/GyroscopeSDK.lastbuildstate
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.log
Temp/Compile/x64/Debug/GyroscopeSDK.Build.CppClean.log
Temp/Compile/x64/Debug/ESP32.log
Temp/Compile/x64/Debug/ESP32.Build.CppClean.log
Temp/Compile/x64/Debug/Driver.log
Temp/Compile/x64/Debug/Driver.Build.CppClean.log
Temp/Compile/x64/Debug/draw.obj
Temp/Compile/x64/Debug/Com.obj
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/link.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/link.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.log
Temp/Compile/x64/Debug/Box2DUI.ilk
Temp/Compile/x64/Debug/Box2DUI.Build.CppClean.log
Lib/x64/Debug/GyroscopeSDK.pdb
Lib/x64/Debug/GyroscopeSDK.lib
*.pdb
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
BuildContexA7/x64/Debug/BuildContexA7.tlog/BuildContexA7.lastbuildstate
Bin/x64/Debug/OpticalDesign.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/Box2DUI.exe
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
BuildContexA7/x64/Debug/BuildContexA7.tlog/BuildContexA7.lastbuildstate
Bin/x64/Debug/OpticalDesign.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/Box2DUI.exe
.vs/OpticalDesign/v17/ipch/AutoPCH/ec7289272b2bf05b/V4L2.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/cc3c6b579cbdd6cc/NSL.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/a3fa1009562bc0d7/MULTIPLEXIO.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/71b441d8fa4bc0e/GPIO.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/49017fef2b3fd2a3/V4L2.ipch
.vs/OpticalDesign/v17/.suo
.vs/OpticalDesign/FileContentIndex/eeeb82f5-3fc8-4f2d-bdef-5ff5ca09f938.vsidx
.vs/OpticalDesign/FileContentIndex/bfea1ce6-2b1b-4fa1-9380-686f0f69c414.vsidx
.vs/OpticalDesign/FileContentIndex/b0cddc35-ddca-49e5-8b66-5266917efe05.vsidx
.vs/OpticalDesign/FileContentIndex/94a58f29-305c-44af-baf6-4c51f9f31c23.vsidx
