
.vs/OpticalDesign/FileContentIndex/d3c415da-33fb-4ff7-a984-1cecf6aa6f3a.vsidx
.vs/OpticalDesign/FileContentIndex/read.lock
.vs/OpticalDesign/v17/Browse.VC.db
.vs/OpticalDesign/v17/Browse.VC.db-shm
.vs/OpticalDesign/v17/Browse.VC.db-wal
.vs/OpticalDesign/v17/Browse.VC.opendb
.vs/OpticalDesign/v17/ipch/AutoPCH/724fc3c943659cae/MAIN.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/e80c0ce0eaa9abba/BRAIN.ipch
.vs/OpticalDesign/v17/Solution.VC.db
.vs/OpticalDesign/v17/Solution.VC.db-shm
.vs/OpticalDesign/v17/Solution.VC.db-wal
.vs/OpticalDesign/FileContentIndex/045e8e87-a1f3-4d08-84c3-e39951435196.vsidx
.vs/OpticalDesign/v17/ipch/AutoPCH/249f814c89cfe553/CAMERA.ipch
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/vc143.pdb
Temp/Compile/x64/Debug/vc143.idb
Temp/Compile/x64/Debug/V4L2.hpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/V4L2.hpp.ifc.dt.d.json
Temp/Compile/x64/Debug/V4L2.h_34C6F42A6517868.ifc.dt.module.json.command
Temp/Compile/x64/Debug/V4L2.h_34C6F42A6517868.ifc.dt.d.json
Temp/Compile/x64/Debug/V4L2.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/V4L2.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/V4L2.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/UnitTest.log
Temp/Compile/x64/Debug/UnitTest.Build.CppClean.log
Temp/Compile/x64/Debug/test.obj
Temp/Compile/x64/Debug/settings.obj
Temp/Compile/x64/Debug/OpticalDesign.tlog/unsuccessfulbuild
Temp/Compile/x64/Debug/OpticalDesign.tlog/OpticalDesign.lastbuildstate
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.write.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.write.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.log
Temp/Compile/x64/Debug/OpticalDesign.ilk
Temp/Compile/x64/Debug/OpticalDesign.Build.CppClean.log
Temp/Compile/x64/Debug/NSL.log
Temp/Compile/x64/Debug/NSL.Build.CppClean.log
Temp/Compile/x64/Debug/ngs_hello.obj
Temp/Compile/x64/Debug/main.obj
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/imgui_impl_opengl3.obj
Temp/Compile/x64/Debug/imgui_impl_glfw.obj
Temp/Compile/x64/Debug/GyroSDKTest.log
Temp/Compile/x64/Debug/GyroSDKTest.Build.CppClean.log
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/GyroscopeSDK.lastbuildstate
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.log
Temp/Compile/x64/Debug/GyroscopeSDK.Build.CppClean.log
Temp/Compile/x64/Debug/ESP32.log
Temp/Compile/x64/Debug/ESP32.Build.CppClean.log
Temp/Compile/x64/Debug/Driver.log
Temp/Compile/x64/Debug/Driver.Build.CppClean.log
Temp/Compile/x64/Debug/draw.obj
Temp/Compile/x64/Debug/Com.obj
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/link.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/link.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.log
Temp/Compile/x64/Debug/Box2DUI.ilk
Temp/Compile/x64/Debug/Box2DUI.Build.CppClean.log
Lib/x64/Debug/GyroscopeSDK.pdb
Lib/x64/Debug/GyroscopeSDK.lib
*.pdb
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
BuildContexA7/x64/Debug/BuildContexA7.tlog/BuildContexA7.lastbuildstate
Bin/x64/Debug/OpticalDesign.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/Box2DUI.exe
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
BuildContexA7/x64/Debug/BuildContexA7.tlog/BuildContexA7.lastbuildstate
Bin/x64/Debug/OpticalDesign.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/Box2DUI.exe
.vs/OpticalDesign/v17/ipch/AutoPCH/ec7289272b2bf05b/V4L2.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/cc3c6b579cbdd6cc/NSL.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/a3fa1009562bc0d7/MULTIPLEXIO.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/71b441d8fa4bc0e/GPIO.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/49017fef2b3fd2a3/V4L2.ipch
.vs/OpticalDesign/v17/.suo
.vs/OpticalDesign/FileContentIndex/eeeb82f5-3fc8-4f2d-bdef-5ff5ca09f938.vsidx
.vs/OpticalDesign/FileContentIndex/bfea1ce6-2b1b-4fa1-9380-686f0f69c414.vsidx
.vs/OpticalDesign/FileContentIndex/b0cddc35-ddca-49e5-8b66-5266917efe05.vsidx
.vs/OpticalDesign/FileContentIndex/94a58f29-305c-44af-baf6-4c51f9f31c23.vsidx
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
BuildContexA7/x64/Debug/BuildContexA7.log
Bin/x64/Debug/OpticalDesign.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/Box2DUI.exe
.vs/OpticalDesign/v17/ipch/AutoPCH/f213bc0f2e7ab0ad/ESP32.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/e92cd73f307e34e5/PCNT.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/da20f2c6676ecc69/FILE.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/d714a4ffebe8b68/PWM.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/d66ad1315ff58c1d/MAIN.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/c96cbd586b0e02fd/GPIO.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/88ad48fcb5572477/V4L2.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/5ca3d9d0d3efbaec/PCNT.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/5b00fa102e9de9b4/RANGEFINDER.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/503f6e68542f9217/UVC_WXZOU_DEMO.ipch
.vs/OpticalDesign/v17/fileList.bin
.vs/OpticalDesign/FileContentIndex/b0cfac94-8eb0-4098-aaa5-d590a02b332f.vsidx
.vs/OpticalDesign/FileContentIndex/7d5eb788-1fb4-4727-91fa-a415a8e292d9.vsidx
.vs/OpticalDesign/FileContentIndex/1e262adf-1beb-4127-b7b7-4f9eb762eadc.vsidx
.vs/OpticalDesign/FileContentIndex/16582543-9410-492a-ad70-0c336cfac9a1.vsidx
Bin/x64/Debug/Box2DUI.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/OpticalDesign.pdb
BuildContexA7/x64/Debug/BuildContexA7.log
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
Lib/x64/Debug/GyroscopeSDK.lib
Lib/x64/Debug/GyroscopeSDK.pdb
Temp/Compile/x64/Debug/Box2DUI.ilk
Temp/Compile/x64/Debug/Box2DUI.log
Temp/Compile/x64/Debug/Box2DUI.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/Com.obj
Temp/Compile/x64/Debug/Config.h_177D6B7C6043B206.ifc.dt.module.json
Temp/Compile/x64/Debug/Config.h_177D6B7C6043B206.ifc.dt.module.json.command
Temp/Compile/x64/Debug/Defined.h_AA40CE997D0F9199.ifc.dt.d.json
Temp/Compile/x64/Debug/Defined.h_AA40CE997D0F9199.ifc.dt.module.json.command
Temp/Compile/x64/Debug/DeviceFile.h_EBAAB8D5E38C78FE.ifc.dt.module.json.command
Temp/Compile/x64/Debug/draw.obj
Temp/Compile/x64/Debug/ESP32.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/ESP32.tlog/CL.read.1.tlog
Temp/Compile/x64/Debug/ESP32.tlog/CL.write.1.tlog
Temp/Compile/x64/Debug/ESP32.tlog/ESP32.lastbuildstate
Temp/Compile/x64/Debug/ESP32.tlog/unsuccessfulbuild
Temp/Compile/x64/Debug/File.h_3E8350AF071E6984.ifc.dt.module.json.command
Temp/Compile/x64/Debug/File.hpp_7104B594EFBADC04.ifc.dt.module.json.command
Temp/Compile/x64/Debug/GPIO.h_6F02F5D304E8A95B.ifc.dt.module.json.command
Temp/Compile/x64/Debug/GyroscopeSDK.log
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/GyroscopeSDK.lastbuildstate
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/imgui_impl_glfw.obj
Temp/Compile/x64/Debug/imgui_impl_opengl3.obj
Temp/Compile/x64/Debug/LinuxHeader.h_BF515123B30277C7.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.obj
Temp/Compile/x64/Debug/MultiplexIO.h_5E3EFD0BAFE0F220.ifc.dt.module.json
Temp/Compile/x64/Debug/MultiplexIO.h_5E3EFD0BAFE0F220.ifc.dt.module.json.command
Temp/Compile/x64/Debug/MultiplexIO.hpp_640AB39586830080.ifc.dt.module.json.command
Temp/Compile/x64/Debug/ngs_hello.obj
Temp/Compile/x64/Debug/NSL.h_91C001DB98F0C119.ifc.dt.module.json.command
Temp/Compile/x64/Debug/OpticalDesign.ilk
Temp/Compile/x64/Debug/OpticalDesign.log
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.write.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.write.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/OpticalDesign.lastbuildstate
Temp/Compile/x64/Debug/settings.obj
Temp/Compile/x64/Debug/std.compat.ixx.ifc.dt.module.json.command
Temp/Compile/x64/Debug/std.ixx.ifc.dt.module.json
Temp/Compile/x64/Debug/std.ixx.ifc.dt.module.json.command
Temp/Compile/x64/Debug/test.obj
Temp/Compile/x64/Debug/V4L2.hpp_A8CB7C9D0B968A8.ifc.dt.module.json.command
Temp/Compile/x64/Debug/vc143.idb
Temp/Compile/x64/Debug/vc143.pdb
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
BuildContexA7/x64/Debug/BuildContexA7.log
Bin/x64/Debug/OpticalDesign.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/Box2DUI.exe
Bin/x64/Debug/Box2DUI.pdb
.vs/OpticalDesign/v17/ipch/AutoPCH/be4ca5eab0018518/CEREBELLUM.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/b1e69169e2807c44/EYES.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/12790fb1f35d1c3b/CAMERA.ipch
.vs/OpticalDesign/FileContentIndex/fadb7ae3-418e-4e97-a7ab-cf75325d9d9f.vsidx
.vs/OpticalDesign/FileContentIndex/23f88aec-f62b-4518-a15e-d4297850c690.vsidx
.vs/OpticalDesign/FileContentIndex/20c4bc2f-232d-40c9-82a8-4ec036a72029.vsidx
.vs/OpticalDesign/FileContentIndex/12138290-af4f-4dba-9bc7-2550d6c1ddee.vsidx
*.lib
*.pdb
*.ilk
*.log
*.tlog
Bin/x64/Debug/Box2DUI.pdb
.vs/OpticalDesign/FileContentIndex/48f3bb84-6d7b-4726-a098-aac6b78f60a3.vsidx
.vs/OpticalDesign/FileContentIndex/8e36b5c2-c7ee-40b3-84d0-7f20d15f6fd1.vsidx
.vs/OpticalDesign/FileContentIndex/cfabaa01-8790-4000-ba42-81af88eb7b1a.vsidx
.vs/OpticalDesign/FileContentIndex/f6057466-fe6e-459a-a420-b2d97a5f636a.vsidx
.vs/OpticalDesign/v17/ipch/AutoPCH/2ce1700a65c65951/GYROSCOPE.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/96d1019e8acb6ccb/NGS_HELLO.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/c2cc02f198b22a99/GYROSCOPE.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/c5474f4e2060724a/ENGINE.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/d7aa775fae27f074/RANGEFINDER.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/df90687ca9ad3389/PCNT.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/f6fabfa1898d041a/ESP32_IDF.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/f8263e04c078b7a/SETTING.ipch
Bin/x64/Debug/Box2DUI.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/OpticalDesign.pdb
BuildContexA7/x64/Debug/BuildContexA7.log
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
Lib/x64/Debug/GyroscopeSDK.idb
Lib/x64/Debug/GyroscopeSDK.lib
Lib/x64/Debug/GyroscopeSDK.pdb
Temp/Compile/x64/Debug/Box2DUI.ilk
Temp/Compile/x64/Debug/Box2DUI.log
Temp/Compile/x64/Debug/Box2DUI.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/link.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/link.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/Box2DUI_MD.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/Com.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/com.cpp.module.json
Temp/Compile/x64/Debug/Com.obj
Temp/Compile/x64/Debug/Config.h_177D6B7C6043B206.ifc.dt.module.json
Temp/Compile/x64/Debug/Config.h_177D6B7C6043B206.ifc.dt.module.json.command
Temp/Compile/x64/Debug/DeviceFile.h_EBAAB8D5E38C78FE.ifc.dt.module.json.command
Temp/Compile/x64/Debug/draw.obj
Temp/Compile/x64/Debug/File.h_3E8350AF071E6984.ifc.dt.module.json.command
Temp/Compile/x64/Debug/File.hpp_7104B594EFBADC04.ifc.dt.module.json.command
Temp/Compile/x64/Debug/GPIO.h_6F02F5D304E8A95B.ifc.dt.module.json.command
Temp/Compile/x64/Debug/GyroscopeSDK.log
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib-link.write.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Lib.command.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.read.1.tlog
Temp/Compile/x64/Debug/GyroscopeSDK.tlog/Microsoft.Build.CPPTasks.CL.write.1.tlog
Temp/Compile/x64/Debug/imgui_impl_glfw.obj
Temp/Compile/x64/Debug/imgui_impl_opengl3.obj
Temp/Compile/x64/Debug/LinuxHeader.h_BF515123B30277C7.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.cpp.ifc.dt.d.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json
Temp/Compile/x64/Debug/main.cpp.ifc.dt.module.json.command
Temp/Compile/x64/Debug/main.obj
Temp/Compile/x64/Debug/MultiplexIO.h_5E3EFD0BAFE0F220.ifc.dt.module.json
Temp/Compile/x64/Debug/MultiplexIO.h_5E3EFD0BAFE0F220.ifc.dt.module.json.command
Temp/Compile/x64/Debug/MultiplexIO.hpp_640AB39586830080.ifc.dt.module.json.command
Temp/Compile/x64/Debug/ngs_hello.obj
Temp/Compile/x64/Debug/NSL.h_91C001DB98F0C119.ifc.dt.module.json.command
Temp/Compile/x64/Debug/OpticalDesign.ilk
Temp/Compile/x64/Debug/OpticalDesign.log
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/Cl.items.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/CL.write.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.command.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.read.1.tlog
Temp/Compile/x64/Debug/OpticalDesign.tlog/link.write.1.tlog
Temp/Compile/x64/Debug/settings.obj
Temp/Compile/x64/Debug/std.compat.ixx.ifc.dt.module.json.command
Temp/Compile/x64/Debug/std.ixx.ifc.dt.module.json
Temp/Compile/x64/Debug/std.ixx.ifc.dt.module.json.command
Temp/Compile/x64/Debug/test.obj
Temp/Compile/x64/Debug/vc143.idb
Temp/Compile/x64/Debug/vc143.pdb
Drivers/obj/x64/Debug/BuildDriver.Build.CppClean.log
Bin/x64/Debug/OpticalDesign.pdb
Bin/x64/Debug/OpticalDesign.exe
Bin/x64/Debug/Box2DUI.pdb
Bin/x64/Debug/Box2DUI.exe
.vs/OpticalDesign/v17/ipch/AutoPCH/da276c5696fa709e/LINUXDEVICE.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/61825232e135fb7a/FRAMEBUFFER.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/44b87644e5aeefca/FRAMEBUFFER.ipch
.vs/OpticalDesign/v17/ipch/AutoPCH/35f2179efd64f3a7/UVC_WXZOU_DEMO.ipch
.vs/OpticalDesign/FileContentIndex/eed37d7a-9bef-4834-8e05-cb8d65e36e08.vsidx
.vs/OpticalDesign/FileContentIndex/5b4ec19a-d6f1-469e-bf8a-fe8dd555afb6.vsidx
.vs/OpticalDesign/FileContentIndex/1e19819e-1b88-4055-ae54-9e790b01c7db.vsidx
.vs/cmake.db
